// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

/*
table {
  table-layout: fixed;
}

th,
td {
  width: 100px;
  overflow: hidden;
}


th:first-child{
  width: 30px; 
  overflow: hidden
}
*/