$primary: #3292a6;

@import "bootstrap";
@import "font-awesome";


html,
body {
  height: 100%;
}

.navbar {
  opacity: 0.8;
  border-bottom: #3292a6 3px solid;

  .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.6);

    .dropdown-item:hover {
      background-color: rgba(0, 0, 0, 0);
    }
    
    a {
      color: white;
    }

    a:hover {
      color: $primary;
    }
     
  }
}


#content {
  background: image-url('background.jpg') no-repeat;
  height:  100%;
  background-size: cover;
  background-attachment: fixed;
}

#content .dark-overlay {

  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.centered {
  height: calc(100% - 156px);
}

.card  {
  a {
    color: #3292a6;
  }
  
  .form-control  {
    background: rgba(255, 255, 255, 0.6)
  }
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
