$primary: #3292a6;

@import "bootstrap";

html,
body {
  height: 100%;
}

#content {
  background: image-url('background.jpg') no-repeat;
  height: calc(100% - 56px);
  background-size: cover;
  background-attachment: fixed;
}

#content .dark-overlay {
  margin-top: 56px;
  height: calc(100% - 56px);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.centered {
  height: calc(100% - 156px);
}

.card  {
  a {
    color: #3292a6;
  }
  
  .form-control  {
    background: rgba(255, 255, 255, 0.6)
  }
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
