$primary: #3292a6;

@import "bootstrap";

html,
body {
  height: 100%;
}

.card {
  h3 {
    color: white;
  }
  .card-header {
    color: white;
  }
}

.centered {
  height: calc(100% - 56px);
}

// RESPONSIVENESS

@media (min-width: 1200px) {
  #student-information-page {
    min-width: 900px;
  }

  .card-responsive {
    min-width: 1200px;
    max-width: 1200px;
    
  }
}
